aiofiles==0.8.0
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
click==8.0.3
colorama==0.4.4
distlib==0.3.4
filelock==3.4.0
httptools==0.3.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
multidict==5.2.0
pipenv==2021.11.23
platformdirs==2.4.0
pymongo==4.0.1
sanic==21.9.3
sanic-routing==0.7.2
six==1.16.0
urllib3==1.26.7
virtualenv==20.10.0
virtualenv-clone==0.5.7
websockets==10.1
Werkzeug==2.0.2
